a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    position: relative;
    overflow: hidden;
    user-select: none;
}

body {
    background: $gray-100;
    font-family: $typeface;
    font-size: 14px;
    margin: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
